/* ================ Primär-knapp ================== */
/* Fylld blå knapp med vit text, samt skugga utåt för huvudsakliga CTA-knappar */
.primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    padding: 0 1em;
    height: 3em;
    gap: 0.4rem;
    background-color: #456FF7;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(22, 25, 37, 0.25);
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'manrope';
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid transparent;
}

/* Mörkare bakgrund vid hovring */
.primary-btn:hover {
    background-image: none;
    background-color: #2752de;
    border: 2px solid #2752de;
}

/* Skuggning inåt och fetare text vid klick */
.primary-btn:active {
    background-image: none;
    background-color: #2752de;
    box-shadow: inset 0px 2px 2px rgba(22, 25, 37, 0.25);
    font-weight: 600;
}

/* ================ Sekundär-knapp ================== */
/* Genomskinlig knapp med vit ram och text för mörka bakgrunder/bilder */
.secondary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    padding: 0 1em;
    height: 3em;
    gap: 0.4rem;
    backdrop-filter: blur(6px);
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'manrope';
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid #FFFFFF;
}

/* Lätt frostad bakgrund vid hovring */
.secondary-btn:hover {
    background-image: none;
    background-color: rgba(246, 249, 255, 0.35);
    backdrop-filter: blur(6px);
}

/* Mer fylld bakgrund och skuggning inåt vid klick */
.secondary-btn:active {
    background-image: none;
    background-color: rgba(246, 249, 255, 0.75);
    box-shadow: inset 0px 4px 4px rgba(22, 25, 37, 0.25);
    backdrop-filter: blur(6px);
    font-weight: 600;
}

/* ================ Tertiär-knapp ================== */
/* Fylld vit knapp med blå ram och text för ljusa bakgrunder */
.tertiary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    padding: 0 1em;
    height: 3em;
    gap: 0.4rem;
    background-color: #FFFFFF;
    color: #2752de;
    font-size: 0.9em;
    font-weight: 500;
    font-family: 'manrope';
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid #2752de;
}

/* Blå bakgrund och vit text vid hovring */
.tertiary-btn:hover {
    background-image: none;
    background-color: #456FF7;
    color: #FFFFFF;
}

/* Mörkare bagrund och skuggning inåt vid klick */
.tertiary-btn:active {
    background-image: none;
    background-color: #2752de;
    box-shadow: inset 0px 4px 4px rgba(22, 25, 37, 0.25);
    font-weight: 600;
}

/* ================ Länk ================== */
/* Text-knapp utan bakgrund för diskreta länkar */
.link-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    height: 3em;
    gap: 0.4rem;
    color: #2421CF;
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'manrope';
    text-decoration: none;
}

/* Understrykning vid hovring */
.link-btn:hover {
    text-decoration: underline;
}

/* Understrykning och fetare text vid klick */
.link-btn:active {
    text-decoration: underline;
    font-weight: 600;
}

/* ================ Pil-knappar och stänga-knapp ================== */
/* Rund stäng-knapp med ljusblå bakgrund */
.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #F6F9FF;
    color: #2421CF;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Rund knapp för att skrolla tillbaka till toppen */
.back-top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    border-radius: 50%;
    border: none;
    background-color: #F6F9FF;
    width: 3rem;
    height: 3rem;
}

/* Rund pil-knapp i det högra nedre hörnet av kort i projektöversikt */
.project-arrow {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    width: 2.25rem;
    height: 2.25rem;
    background: #F6F9FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pil-knappar och stänga-knapp mörkare vid hovring */
.close-btn:hover, .back-top-btn:hover, .project-cards a:hover .project-arrow {
    background-color: #D7E0FF;
}

/* Pil-knappar och stänga-knapp ännu mörkare vid klick */
.close-btn:hover, .back-top-btn:active, .project-cards a:active .project-arrow {
    background-color: #bbcaff;
}